.contacts
    h2.contacts__title
    h2.contacts__bg-title
    .contacts__content
        p 
            span Email: 
            span dan.exxx1st@gmail.com
        a(href="https://github.com/dan-exxx1st" target="_blank" rel="noopener noreferrer")
        a(href="https://gitlab.com/exxx1st" target="_blank" rel="noopener noreferrer") 