.education
    h2.education__title Образование
    h2.education__bg-title образование
    .education__content
        .education__content__date
            div.education__content__date__item Июнь 2020
            div.education__content__date__item Август 2020
        .education__content__time-line
            .education__content__time-line__dot
            .education__content__time-line__line
            .education__content__time-line__dot
        .education__content__text
            div.education__content__text__item Окончил колледж по специальности <br> «Прикладная информатика»
            div.education__content__text__item Поступил в НИУ МЭИ по специальности «Информатика и вычислительная техника» по сокращенной программе