.education
    h2.education__title
    h2.education__bg-title
    .education__content
        .education__content__date
            div.education__content__date__item
            div.education__content__date__item 
        .education__content__time-line
            .education__content__time-line__dot
            .education__content__time-line__line
            .education__content__time-line__dot
        .education__content__text
            div.education__content__text__item
            div.education__content__text__item