section.first-screen
            .lang
                img(src="../assets/img/lang-icon.svg", alt="Language icon")
                span
                ul.lang__list
                    li.lang__list__item RU
                    li.lang__list__item EU
            .first-screen__text
                span.first-screen__caption
                h1.first-screen__title
            img(src="../assets/img/drop-down-btn.svg", alt="Drop down btn").first-screen__dropdown