.header
                    nav.nav
                        ul.nav__list
                            li.nav__list__item Главная страница
                            li.nav__list__item Навыки
                            li.nav__list__item Образование
                            li.nav__list__item Портфолио
                            li.nav__list__item Обо мне
                            li.nav__list__item Мои контакты