.skills
    h2.skills__title
    h2.skills__bg-title
    .skills__list
        ul.skills__list__left
                li.skills__list__item
                    span.skills__list__item__text HTML5
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                li.skills__list__item
                    span.skills__list__item__text Pug/Jade
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line
                li.skills__list__item
                    span.skills__list__item__text CSS3
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line
                        .skills__line
                li.skills__list__item
                    span.skills__list__item__text Sass/Scss
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line
                        .skills__line
                li.skills__list__item
                    span.skills__list__item__text JavaScript
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line
                        .skills__line
        ul.skills__list__right
                li.skills__list__item
                    span.skills__list__item__text TypeScript
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line
                        .skills__line
                        .skills__line
                li.skills__list__item
                    span.skills__list__item__text Reactjs
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line
                li.skills__list__item
                    span.skills__list__item__text Webpack 4
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line
                        .skills__line
                li.skills__list__item
                    span.skills__list__item__text Node.js
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line.active
                        .skills__line
                        .skills__line
                li.skills__list__item
                    span.skills__list__item__text Jest & Enzyme
                    .skills__list__item__lines
                        .skills__line.active
                        .skills__line.active
                        .skills__line
                        .skills__line
                        .skills__line