.header {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	top: 0;
}

.nav {
	&__list {
		display: flex;
		&__item {
			cursor: pointer;
			margin-right: 25px;
			font-size: 16px;
			line-height: 19px;
			display: flex;
			align-items: center;
			text-align: center;
			letter-spacing: 0.02em;
			color: #efefef;
			transition: 0.5s all ease-in-out;

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

@media (max-width: 768px) {
	.nav {
		&__list {
			&__item {
				margin-right: 10px;
			}
		}
	}
}
