.content {
	background: $bc;
	display: flex;
	justify-content: center;
	height: 1000px;
}

.container {
	width: 1240px;
	padding: 0 10px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	top: 0;
}

.nav {
	&__list {
		display: flex;
		&__item {
			cursor: pointer;
			margin-right: 25px;
			font-size: 16px;
			line-height: 19px;
			display: flex;
			align-items: center;
			text-align: center;
			letter-spacing: 0.02em;
			color: #efefef;
			transition: 0.5s all ease-in-out;

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

.skills {
	position: relative;
	&__title {
		@include H2Title;
		margin-top: 100px;
	}

	&__bg-title {
		position: absolute;
		top: -15px;
		right: 0;
		font-size: 72px;
		letter-spacing: 0.02em;
		color: $w;
		opacity: 0.05;
	}

	&__line {
		width: 50px;
		height: 2px;
		background: $w;
		margin-right: 10px;
		&.active {
			background: $blc;
		}
	}

	&__list {
		display: flex;
		align-items: start;
		justify-content: start;
		flex-wrap: wrap;
		margin-top: 50px;

		&__left,
		&__right {
			width: 430px;
			display: flex;
			flex-wrap: wrap;
		}

		&__left {
			margin-right: 150px;
		}

		&__item {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			margin-bottom: 20px;
			&__text {
				font-size: 18px;
				line-height: 21px;
				color: $w;
			}

			&__lines {
				display: flex;
			}
		}
	}
}

@media (max-width: 1024px) {
	.skills {
		&__list {
			&__left {
				margin-right: 20px;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		display: none;
	}
}
