.content {
	background: $bc;
	display: flex;
	justify-content: center;
	height: 1000px;
}

.container {
	width: 1240px;
	padding: 0 10px;
}

.to-top-arrow {
	display: none;
	position: fixed;
	bottom: 100px;
	right: 100px;
	transform: rotate(180deg);
	cursor: pointer;
	border-radius: 50%;

	&:hover {
		background: lighten(#323232, 5%);
	}
}

@media (max-width: 1024px) {
	.skills {
		&__list {
			&__left {
				margin-right: 20px;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		display: none;
	}
}
