<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portfolio
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet")
    body
        .preloader
            .preloader__spiner
        include sections/first-screen_section
        section.content
            .container
                img(src="../assets/img/drop-down-btn.svg", alt="Drop down btn").to-top-arrow
                include sections/header_section
                include sections/skills_section
                include sections/education_section
                include sections/portfolio_section
                include sections/about-me_section